<html lang="ko">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>index</title>
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body>
        <h1>Hello RoDeLa!</h1>
    </body>
    <script src="{% static 'index.js' %}"></script>
</html><!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>잠입 - 커뮤니티 포털</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>잠입에 오신 것을 환영합니다!</h1>
        <nav>
            <ul>
                <li><a href="#home">홈</a></li>
                <li><a href="#news">새소식</a></li>
            </ul>
        </nav>
    </header>

    <section id="main-content">
        <h2>갤러리</h2>
        <div class="gallery-links">
            <a href="gallery1.html"></a>
            <a href="gallery2.html"></a>
            <a href="gallery3.html"></a>
            <!-- \ -->
        </div>
    </section>

    <footer>
        <p>© 2024 "잠입" by rodela. 모든 권리 보유.</p>
    </footer>
</body>
</html>
